// Colors:
$text-primary: #403F3D;
$text-inverse: #E1D4C9;
$text-accent: #B0907A;

$background-container: #665F55;
$background-overlay: #403F3D;

$border-primary: #C1B6AD;
$dark-border-primary: #665F55;

// Fonts:

$font-family: 'Inter', sans-serif;

// Times:

$hover-time: 0.3s;
