@keyframes show-in {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes show-out {
    from {
        display: block;
        opacity: 0;
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

@keyframes rotate-item {
    0% {
        transform: rotate(0deg);
    }

    50%  {
        transform: rotate(50deg);
    }

    100% {
        transform: rotate(360deg);
    }
}