* {
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

body {
    background-color: #E1D4C9;
    font-family: $font-group-1;
    color: $color-text-dark;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container {
    width: rem(1440px);
    margin: 0 auto;
    padding: 0 rem(40px);
}

.btn-primary {
    @extend %font-property-links;
    width: fit-content;
    display: block;
    background-color: $color-text-light;
    border-radius: rem(100px);
    color: $color-text-dark;
    padding: rem(20px) rem(93px) rem(20px) rem(64px);
    transition: 0.3s;
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        width: rem(20px);
        height: rem(20px);
        display: block;
        background-image: url('../../assets/icons/coffee-cup.svg');
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: rem(21px);
        right: rem(64px);
    }

    &:active {
        filter: brightness(115%);
        transform: scale(0.7)
    }
}

.title-h1 {
    font-size: rem(72px);
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
    color: $color-text-light;
    margin: 0;

    span {
        font-family: inherit;
        font-style: italic;
        color: $color-text-accent;
    }
}

.title-h2 {
    @extend %font-property-links;
    width: fit-content;
    font-size: rem(60px);
    line-height: 125%;
    color: $color-text-dark;
    margin: 0;

    span {
        color: $color-text-accent;
        font-style: italic;
    }
}

.title-h3 {
    width: fit-content;
    @extend %font-property-links;
    font-size: rem(24px);
    line-height: 125%;
    margin: 0;
}

.btn-app-link {
    width: rem(200px);
    height: rem(64px);
    display: flex;
    align-items: center;
    gap: rem(8px);
    border: rem(1px) solid $color-buttons-default;
    border-radius: rem(100px);
    transition: $animation-time-app-links;
    padding: 0 rem(20px);
    color: $color-text-dark;

    .btn-app-link__text-wrapper {
        display: flex;
        flex-direction: column;
        gap: rem(2px);

        .text__first {
            @extend %font-property-links;
            font-size: rem(10px);
            line-height: 140%;
        }

        .text__second {
            @extend %font-property-links;
        }
    }

    path {
        transition: $animation-time-app-links;
    }

    &:active {
        transform: scale(0.95);
        filter: brightness(120%);
    }
}

.social__link {
    width: rem(60px);
    height: rem(60px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: rem(1px) solid $color-text-light;
    border-radius: 50%;
    transition: $animation-time-app-links;

    path {
        transition: $animation-time-app-links;
    }

    &:active {
        transform: scale(0.95);
        filter: brightness(110%);
    }
}

.d-none {
    display: none;
}

.d-none-invert {
    display: none;
}

@media (max-width: 1439px) {
    .container {
        width: 100%;
    }

}

@media (max-width: 768px) {
    .d-none-768px {
        display: none;
    }

    .d-none-invert {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .btn-primary {
        width: fit-content;
        display: block;
        background-color: $color-text-light;
        border-radius: rem(100px);
        color: $color-text-dark;
        padding: rem(20px) rem(78px);
        transition: 0.3s;
        position: relative;
        overflow: hidden;

        &:hover {
            padding-left: calc(rem(78px) - rem(10px));
            padding-right: calc(rem(78px) + rem(10px));
            transition: 0.3s;

            &::after {
                display: block;
                animation: show-in $animation-time-slider-button;
                transform: scale(1);
            }

        }

        &::after {
            content: '';
            width: rem(20px);
            height: rem(20px);
            display: none;
            background-image: url('../../assets/icons/coffee-cup.svg');
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            transform: scale(0);
            animation: show-out 0.5s;
            top: calc(50% - rem(11px));
            right: rem(61px);
        }



        &:active {
            filter: brightness(115%);
            transform: none;
        }
    }



    .link-effects {
        transition: $animation-time-links;
        position: relative;

        &:hover {
            &::after {
                transform: scale(1);
            }
        }

        &::after {
            content: '';
            width: 100%;
            height: rem(2px);
            background-color: $color-text-dark;
            transform: scale(0);
            transition: $animation-time-links;
            position: absolute;
            bottom: rem(-5px);
            left: 0;
        }
    }

    .btn-app-link {
        &:hover {
            background-color: $color-buttons-default;
            color: $color-text-light;

            path {
                fill: $color-text-light;
            }
        }
    }

    .social__link {
        &:hover {
            background-color: $color-text-light;

            path {
                stroke: $color-text-dark;
            }
        }
    }
}


@media (max-width: 760px) {

    .title-h1 {
        font-size: rem(60px);
    }

    .title-h2 {
        font-size: rem(50px);
    }

    .title-h3 {
        font-size: rem(30px);
    }
}

@media (max-width: 640px) {
    .title-h1 {
        width: 100%;
        font-size: rem(55px);
    }

    .title-h2 {
        font-size: rem(40px);
    }

    .title-h3 {
        font-size: rem(20px);
    }
}

@media (max-width: 542px) {
    .container {
        padding: 0 rem(28px);
    }

    .title-h1 {
        font-size: rem(42px);
        line-height: 115%;
    }

    .title-h3 {
        font-size: rem(24px);
    }
}

@media (max-width: 420px) {
    .container {
        padding: 0 rem(16px);
    }

    .title-h2 {
        font-size: rem(32px);
    }
}

@media (max-width: 370px) {
    :root {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    :root {
        font-size: 11px;
    }
}

@media (max-width: 280px) {
    :root {
        font-size: 8px;
    }
}

@media (max-width: 200px) {
    :root {
        font-size: 5px;
    }
}