// Colors:
$color-text-dark: #403F3D;
$color-text-light: #E1D4C9;
$color-text-accent: #B0907A;
$color-buttons-default: #665F55;
$color-buttons-border: #C1B6AD;

// Text:
$font-group-1: 'Inter', sans-serif;

// Animaion Time: 
$animation-time-links: 0.4s;
$animation-time-slider-button: 0.5s;
$animation-time-images: 0.4s;
$animation-time-app-links: 0.6s;