// Colors:
$color-text-dark: #403F3D;
$color-text-light: #E1D4C9;
$color-text-accent: #B0907A;
$color-buttons-default: #665F55;
$color-buttons-border: #C1B6AD;
$bg-page: #E1D4C9;
$bg-container: #665F55;

$dark-text-primary: #E1D4C9;
$dark-text-inverse: #E1D4C9;
$dark-text-accent: #B0907A;
$dark-bg-page: #292826;
$dark-bg-container: #403F3D;
$dark-bg-overlay: #292826;
$dark-border-primary: #665F55;
$dark-border-inverse: #C1B6AD;

// Text:
$font-group-1: 'Inter', sans-serif;

// Animaion Time: 
$animation-time-links: 0.4s;
$animation-time-slider-button: 0.5s;
$animation-time-images: 0.4s;
$animation-time-app-links: 0.6s;