.slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(40px);
}

.slider__main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(4px);
}

.slider-button {
    width: rem(60px);
    height: rem(60px);
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %reset-button-styles;
    border-radius: 100%;
    border: rem(1px) solid $color-buttons-default;
    padding: 0;
    transition: $animation-time-slider-button;

    &.slider__button-back {
        order: 1;
    }

    &.slider__button-next {
        order: 3;
    }

    path {
        transition: $animation-time-slider-button;
    }

    &:active {
        transform: scale(0.9);
    }
}

.slider__cards-screen {
    width: rem(1152px);
    height: rem(640px);
    display: flex;
    justify-content: center;
    overflow: hidden;
    order: 2;
}

.carousel {
    display: flex;
    width: 100%;
}

.carousel__card {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.carousel__card-content {
    width: rem(480px);
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(16px);
}

.content__image {
    width: 100%;
    min-height: 480px;
    margin-bottom: rem(4px)
}

.content__description {
    @extend %font-property-links;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.content-price {
    display: block;
}

.slider__paginaton {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(12px)
}

.pagination-button {
    @extend %reset-button-styles;
    width: rem(40px);
    height: rem(4px);
    background-color: $color-buttons-default;
    border-radius: rem(100px);
    transition: $animation-time-slider-button;
    opacity: 0.4;

    &.pagination-button_active {
        opacity: 1;
    }

    // &:hover {
    //     cursor: pointer;
    //     opacity: 0.5;
    // }
}

@media (max-width: 1439px) {
    .slider__main {
        padding: 0;
    }

    .slider__cards-screen {
        width: fit-content;
        height: fit-content;
    }
}

@media screen and (min-width: 1024px) {
    .slider-button {
        &:hover {
            cursor: pointer;
            background-color: $color-buttons-default;

            path {
                stroke: $color-text-light;
            }
        }

        &:active {
            filter: brightness(130%);
            transform: none;
        }
    }
}

@media (max-width: 715px) {
    .slider__main {
        justify-content: center;
    }


    .slider-button {
        display: none;
    }
}

@media (max-width: 640px) {
    .content__image {
        width: 100%;
        max-height: 480px;
        margin-bottom: 0.25rem;
    }
}

@media (max-width: 560px) {
    .content__image {
        min-height: rem(348px);
        max-height: fit-content;
    }
}