.about {
    display: flex;
}

.about__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(40px);
}

.about__galery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(40px);
}

.galery__pic-wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(40px);
}

.about__pic-wrapper {
    display: flex;
    align-items: center;
    border-radius: rem(20px);
    overflow: hidden;

    &:hover {
        .galery__picture {
            cursor: pointer;
            transform: scale(100%);
        }
    }
}

.galery__big-pic {
    width: rem(660px);
    height: rem(590px);
}

.galery__small-pic {
    width: rem(660px);
    height: rem(430px);
}

.galery__picture {
    width: 100%;
    transform: scale(110%);
    transition: $animation-time-images;
}

@media (max-width: 1439px) {

    .about__pic-wrapper {

        &:hover {
            .galery__picture {
                transform: scale(110%);
            }
        }
    }

    .galery__big-pic {
        width: 100%;
    }

    .galery__small-pic {
        width: 100%;
    }

    .galery__picture {
        width: 100%;
        transform: scale(120%);
        transition: $animation-time-images;
    }
}

@media (max-width: 1210px) {

    .about__pic-wrapper {

        &:hover {
            .galery__picture {
                transform: scale(120%);
            }
        }
    }

    .galery__picture {
        transform: scale(130%);
    }
}

@media (max-width: 1210px) {

    .about__pic-wrapper {

        &:hover {
            .galery__picture {
                transform: scale(120%);
            }
        }
    }

    .galery__picture {
        transform: scale(130%);
    }
}

@media (max-width: 1120px) {

    .about__pic-wrapper {

        &:hover {
            .galery__picture {
                transform: scale(140%);
            }
        }
    }

    .galery__picture {
        transform: scale(150%);
    }
}

@media (max-width: 980px) {
    .about__pic-wrapper {

        &:hover {
            .galery__picture {
                transform: scale(165%);
            }
        }
    }

    .galery__picture {
        transform: scale(165%);
    }
}

@media (max-width: 874px) {
    .about__galery {
        flex-direction: column;
    }

    .display-none-874px {
        display: none;
    }

    .about__pic-wrapper {

        &:hover {
            .galery__picture {
                transform: scale(105%);
            }
        }
    }

    .galery__picture {
        transform: scale(105%);
    }
}

@media (max-width: 680px) {
    .about__pic-wrapper {

        &:hover {
            .galery__picture {
                transform: scale(120%);
            }
        }
    }

    .galery__picture {
        transform: scale(120%);
    }
}

@media (max-width: 580px) {
    .about__pic-wrapper {

        &:hover {
            .galery__picture {
                transform: scale(165%);
            }
        }
    }
    .galery__picture {
        transform: scale(165%);
    }
}

@media (max-width: 400px) {
    .about__pic-wrapper {

        &:hover {
            .galery__picture {
                transform: scale(209%);
            }
        }
    }
    .galery__picture {
        transform: scale(209%);
    }
}