.app-block {
    display: flex;
    padding: rem(100px) 0;
}

.app-block__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-block__left-content {
    max-width: rem(630px);
    min-height: rem(342px);
    display: flex;
    flex-direction: column;
    gap: rem(40px);
}

.app-block__picture {
    width: rem(630px);
    height: rem(630px);
}

.app-block__description {
    @extend %font-property-links;
    font-weight: 400;
    margin: 0;
}

.link-app-store-logo {
    fill: var(--color-text-dark);
}

.app-block__links {
    display: flex;
    gap: rem(20px);
}

@media (min-width:1119px) and (max-width: 1300px) {
    .app-block__picture {
        width: 45%;
        height: auto;
    }
}

@media (min-width:1119px) and (max-width: 1120px) {
    .app-block__picture {
        width: 40%;
        height: auto;
    }
}

@media (max-width: 1119px) {
    .app-block__wrapper {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .app-block__wrapper {
        flex-direction: column;
        gap: rem(100px);
    }

    .app-block__left-content {
        max-width: none;
    }
}

@media (max-width: 720px) {
    .app-block__wrapper {
        gap: rem(40px);
    }

    .app-block__left-content {
        width: 100%;
    }

    .app-block__picture {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 520px) {
    .app-block__links {
        flex-direction: column;
    }
}