.enjoy {
    display: flex;
}

.enjoy__card {
    min-width: rem(1360px);
    min-height: rem(644px);
    background: url('../../assets/images/enjoy_background.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: rem(40px);
    overflow: hidden;
    padding: rem(100px);
}

.card__content-wrapper {
    width: rem(530px);
    display: flex;
    flex-direction: column;
    gap: rem(40px);
}

.card__description {
    @extend %font-property-links;
    font-weight: 400;
    color: $color-text-light;
    margin: 0;
}

@media (max-width: 1439px) {
    .enjoy__card {
        min-width: 100%;
    }

    .card__description {
        text-shadow: rem(1px) rem(1px) rem(1px) $color-text-dark;
    }
}

@media (max-width: 920px) {
    .enjoy__card {
        padding: rem(100px) rem(60px);
    }
}

@media (max-width: 760px) {
    .enjoy__card {
        min-height: fit-content;
    }

    .card__description {
        width: 90%;
    }
}

@media (max-width: 740px) {
    .card__content-wrapper {
        width: fit-content;
    }
}

@media (max-width: 640px) {
    .enjoy__card {
        padding: rem(60px) rem(30px);
    }
}

@media (max-width: 542px) {
    .card__description {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .enjoy__card {
        padding: rem(60px) rem(16px);
    }
}