.footer {
    padding-bottom: rem(40px);
    user-select: text;
}

.footer__wrapper {
    min-height: rem(450px);
    display: flex;
    justify-content: space-between;
    background-color: $color-buttons-default;
    border-radius: rem(40px);
    padding: rem(100px);
}

.footer__block {
    width: rem(530px);
}

.footer__left-block {
    display: flex;
    flex-direction: column;
    gap: rem(40px);
}

.footer__social-links {
    display: flex;
    gap: rem(12px);
}

.footer__title {
    color: $color-text-light;
}

.footer__right-block {
    display: flex;
    flex-direction: column;
    gap: rem(14px);
}

.footer__contacts-title {
    color: $color-text-light;
    margin-top: rem(33px);
    margin-bottom: rem(27px);
}

.contact__link {
    transition: 0.3s;

    &::after {
        background-color: $color-text-light;
    }
}

.contact__text {
    display: flex;
    gap: rem(8px);
    font-size: rem(16px);
    line-height: 150%;
    color: $color-text-light;
    padding-bottom: rem(4px);
}

@media (max-width: 1420px) {
    .footer__wrapper {}

    .footer__right-block {
        width: 35%;
    }
}

@media (min-width: 881px) and (max-width: 1114px) {

    .footer__wrapper {
        justify-content: center;
        gap: rem(40px);
    }

    .footer__left-block {
        width: rem(400px);
    }

    .footer__title {
        font-size: rem(45px);
    }

    .footer__right-block {
        width: fit-content;
    }
}

@media (max-width: 1000px) {
    .footer__wrapper {
        min-height: fit-content;
        padding: rem(60px);
        justify-content: space-between;
        gap: 0;
    }
}

@media (max-width: 880px) {
    .footer__wrapper {
        flex-direction: column;
        gap: rem(68px);
        padding: rem(100px) rem(60px);
    }

    .footer__right-block {
        width: 100%;
        gap: rem(16px);
    }

    .footer__contacts-title {
        margin-top: rem(32px);
        margin-bottom: rem(24px);
    }
}

@media (max-width: 880px) {
    .footer__block {
        width: 100%;
    }
}

@media (max-width: 530px) {
    .footer__wrapper {
        padding: rem(60px) rem(50px);
        gap: rem(7px);
    }
}

@media (max-width: 500px) {
    .footer__wrapper {
        padding: rem(60px) rem(30px);
    }
}

@media (max-width: 450px) {
    .footer__wrapper {
        padding: rem(60px) rem(16px);
    }
}