.header {
    display: flex;
    flex-direction: column;
    padding: rem(20px) 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: block;
    cursor: auto;

    &:not(.link_inactive) {
        cursor: pointer;
    }
}

.logo__wrapper {
    width: rem(100px);
    height: rem(60px);
    background: url('../../assets/icons/main__logo.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.nav__list {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    gap: rem(40px);
    list-style: none;
    padding: 0;

    a {
        @extend %font-property-links;
        color: var(--color-text-dark);
    }
}

.header__block {
    display: flex;
    align-items: center;
    gap: rem(24px);
}

#tb__switcher {
    display: none;
}

.header__theme-switcher {
    display: flex;
    align-items: center;
    gap: rem(8px);
    border: rem(1px) solid var(--color-buttons-default);
    border-radius: rem(100px);
    transition: $animation-time-links;
    padding: rem(4px);


    svg {
        transition: $animation-time-links;
        border-radius: 100%;
    }

    path {
        transition: $animation-time-links;
    }

    @media (pointer: fine) and (hover: hover) {
        &:hover {

            svg.night-mode {
                cursor: pointer;
                background-color: var(--color-buttons-default);

                path {
                    fill: var(--color-text-light);
                }
            }
        }
    }
}

.menu-button {
    @extend %reset-button-styles;
    display: flex;
    gap: rem(8px);
    align-items: flex-start;
    padding: 0;
    position: relative;
    @extend %font-property-links;
    color: var(--color-text-dark);
    transition: 0.3s;

    &::before {
        content: '';
        width: 100%;
        height: rem(2px);
        background-color: var(--color-text-dark);
        transform: scale(0);
        transition: 0.3s;
        position: absolute;
        bottom: rem(-3px);
        left: 0;
    }

    &:hover:not(.menu-button_active) {
        cursor: pointer;

        &::before {
            content: '';
            transform: scale(1);
        }
    }

    &.menu-button_active {
        &::before {
            transform: scale(1);
        }
    }
}


    body:has(#tb__switcher:checked) {
    .menu-button path {
        stroke: var(--color-text-dark) !important;
    }
}

    body:has(#tb__switcher:checked) {
    .logo__wrapper {
        filter: invert(1);
    }

    .day-bg {
        fill: none !important;
    }
}

.header__burger-button {
    @extend %reset-button-styles;
    width: rem(44px);
    height: rem(44px);
    border: rem(1px) solid var(--color-buttons-default);
    border-radius: 100%;
    position: relative;
    transition: $animation-time-links;

    &::before {
        content: '';
        width: rem(16px);
        height: rem(2px);
        background-color: var(--color-text-dark);
        position: absolute;

        transition: $animation-time-links;
        top: rem(16px);
        right: rem(13px);
    }

    &::after {
        content: '';
        width: rem(16px);
        height: rem(2px);
        background-color: var(--color-text-dark);
        transition: $animation-time-links;
        position: absolute;
        top: rem(24px);
        right: rem(13px);
    }

    &.header__burger-button_opened {
        &::before {
            transform: rotate(45deg);
            top: rem(20px);
        }

        &::after {
            transform: rotate(-45deg);
            top: rem(20px);
        }
    }

    &:active {
        transform: scale(0.9);
    }
}

@media (min-width: 769px) and (max-width: 864px) {
    .nav__list {
        gap: rem(30px);

        a {
            font-size: rem(15px);
        }
    }

    .header__button {
        font-size: rem(15px);
    }
}