.header {
    display: flex;
    flex-direction: column;
    padding: rem(20px) 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: block;
    cursor: auto;

    &:not(.link_inactive) {
        cursor: pointer;
    }
}

.logo__wrapper {
    width: rem(100px);
    height: rem(60px);
    background: url('../../assets/icons/main__logo.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.nav__list {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    gap: rem(40px);
    list-style: none;
    padding: 0;

    a {
        @extend %font-property-links;
        color: $color-text-dark;
    }
}

.menu-button {
    @extend %reset-button-styles;
    padding: 0;
    padding-right: rem(28px);
    position: relative;
    @extend %font-property-links;
    color: $color-text-dark;
    transition: 0.3s;

    &::before {
        content: '';
        width: 100%;
        height: rem(2px);
        background-color: $color-text-dark;
        transform: scale(0);
        transition: 0.3s;
        position: absolute;
        bottom: rem(-3px);
        left: 0;
    }

    &::after {
        content: '';
        width: rem(20px);
        height: rem(20px);
        display: block;
        background-image: url('../../assets/icons/coffee-cup.svg');
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: 0;
    }

    &:hover:not(.menu-button_active) {
        cursor: pointer;

        &::before {
            content: '';
            transform: scale(1);
        }
    }

    &.menu-button_active {
        &::before {
            transform: scale(1);
        }
    }
}

.header__burger-button {
    @extend %reset-button-styles;
    width: rem(44px);
    height: rem(44px);
    border: rem(1px) solid $color-buttons-default;
    border-radius: 100%;
    position: relative;
    transition: $animation-time-links;

    &::before {
        content: '';
        width: rem(16px);
        height: rem(2px);
        background-color: $color-text-dark;
        position: absolute;

        transition: $animation-time-links;
        top: rem(16px);
        right: rem(13px);
    }

    &::after {
        content: '';
        width: rem(16px);
        height: rem(2px);
        background-color: $color-text-dark;
        transition: $animation-time-links;
        position: absolute;
        top: rem(24px);
        right: rem(13px);
    }

    &.header__burger-button_opened {
        &::before {
            transform: rotate(45deg);
            top: rem(20px);
        }

        &::after {
            transform: rotate(-45deg);
            top: rem(20px);
        }
    }

    &:active {
        transform: scale(0.9);
    }
}

@media (min-width: 769px) and (max-width: 864px) {
    .nav__list {
        gap: rem(30px);

        a {
            font-size: rem(15px);
        }
    }

    .header__button {
        font-size: rem(15px);
    }
}